<!-- views/partials/head.ejs -->
<link rel="icon" type="image/png" href="/img/logo-vnpt.jpg"/>
<meta charset="UTF-8">

<title>App Templates</title>

<link rel="stylesheet" href="/css/app.css" />
<link rel="stylesheet" href="/css/w3.css" />
<link rel="stylesheet" href="/css/bootstrap.min.css" />
<link rel="stylesheet" href="/css/bootstrap-toggle.min.css" />
<link rel="stylesheet" href="/css/bootstrap-icons.css" />
<link rel="stylesheet" href="/css/boxicons.min.css" />

<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

<script src="/js/jquery.min.js"></script>
<script src="/dist/jquery.validate.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/action.js"></script>
<!-- <script src="/js/myscript.js"></script> -->
<script src="/js/OLT_ALU.js"></script>
<script src="/js/OLT_ZTE.js"></script>
<script src="/js/OLT_HUAWEI.js"></script>
<script src="/js/OLT_DASAN.js"></script>
<script src="/js/OLT_ZTE_Mini.js"></script>
<script src="/js/script.khaibaothuebao.js"></script>
<script src="/js/script_telnet.js"></script>
