<nav class="navbar bg-primary" role="navigation"></nav>>
<header class="header w3-pale-blue" id="header">
    <div class="header_toggle"> 
        <span class='bx bx-menu' id="header-toggle"></span> 
    </div>
    <div class="header_img"> 
        <img src="/img/logo-vnpt.jpg" alt=""> 
    </div>
</header>
</nav>