<div class="w3-container w3-center ">
  <h1 class="text-info">Khai Báo Thuê Bao</h1>
</div>
<form class="w3-container" style="height: 240px;">
  <div class="form-group row ">
    <h4 class="col-lg-4"> Nhập Thông Số</h4>
  </div>
  <div class="form-group row">
    <div class="col-lg-4">
      <span for="" class="col-lg-1 col-form-label  " style="min-width: 100px">Loại OLT</span>
      <span class="">
        <select class="form-control" id="typeOLT">
          <option class="">Alcatel</option>
          <option>ZTE</option>
          <option>ZTE-Mini</option>
          <option>HUAWEI</option>
          <option>DASAN</option>
        </select>
      </span>
    </div>
    <div class="col-lg-4">
      <span for="" class="col-lg-1 col-form-label">Loại ONT</span>
      <span class="">
        <select class="form-control" id="typeModem">
          <option>Igate-020</option>
          <option>Igate-040</option>
          <option>Igate-240</option>
          <option>Igate-020H</option>
          <option>Igate-040H</option>
          <option>Igate-240H</option>
          <option>ALU-240</option>
          <option>DASAN</option>
          <option>Vlink1000</option>
        </select>
      </span>
    </div>

    <div class="col-lg-4">
      <span for="" class="col-lg-1 col-form-label " style="min-width: 100px">VLAN Megawan</span>
      <span class="">
        <input type="text" class="form-control" id="" placeholder="VLAN Megawan">
      </span>
    </div>
  </div>

  <div class="form-group row">

    <div class="col-lg-4">
      <span for="" class="col-lg-1 col-form-label" style="min-width: 100px">Chuỗi Password</span>
      <input type="text" class="form-control" id="idPassword" placeholder="Chuỗi Password" oninput="getVlanNet(this.value)">
    </div>


    <div class="col-lg-4">
      <span for="" class="col-lg-1 col-form-label  " style="min-width: 100px">Vlan NET</span>
      <input type="text" class="form-control" id="idvlanNet" placeholder="Vlan NET">
    </div>


    <div class="col-lg-4">
      <span for="" class="col-lg-1 col-form-label  " style="min-width: 100px">Tốc Độ</span>
      <input type="text" class="form-control" id="" placeholder="Mb">
    </div>

  </div>
  <div class="form-group row">

    <div class="col-lg-4">
      <span for="" class="col-lg-1 col-form-label  " style="min-width: 100px">IP OLT</span>
      <input type="text" class="form-control"  id="idIPOLT" placeholder="IP OLT" oninput="getInfoOLT(this.value)">
    </div>


    <div class="col-lg-4">
      <span for="inputPassword3" class="col-lg-1 col-form-label  " style="min-width: 100px">VLAN VOD</span>
      <input type="text" class="form-control" id="idvlanmytv" placeholder="VLAN VOD">
      <input type="hidden" class="form-control" id="idvlanGNMS" >
    </div>


    <div class="col-lg-4">
      <span for="inputPassword3" class="col-lg-1 col-form-label  " style="min-width: 100px">Tên Kênh</span>
      <input type="text" class="form-control" id="" placeholder="Tên Kênh">
    </div>

  </div>
  <div class="row p-2">
    <div class="col-lg-2 p-2">
      <button id="btn-createAll" type="button" class="btn btn-outline-primary button btn-lg">
        <span class="bi bi-stickies-fill"></span> Khai All
      </button>
    </div>
    <div class="col-lg-2 p-2">
      <button id="btn-del" type="button" class="btn btn-outline-primary button btn-lg">
        <span class="bi bi-trash"></span> Remove
      </button>
    </div>
    <div class="col-lg-2 p-2">
      <button id="btn-create-onu" type="button" class="btn btn-outline-primary button btn-lg">
        <span class="bi bi-modem"></span> Khai onu
      </button>
    </div>
    <div class="col-lg-2 p-2">
      <button id="btn-net" type="button" class="btn btn-outline-primary button btn-lg">
        <span class="bi bi-hdd-network green-color"></span> Khai NET
      </button>
    </div>
    <div class="col-lg-2 p-2">
      <button id="btn-mytv" type="button" class="btn btn-outline-primary button btn-lg">
        <span class="bi bi-tv green-color"></span> Khai MyTV
      </button>
    </div>
    <div class="col-lg-2 p-2">
      <button id="btn-megawan" type="button" class="btn btn-outline-primary button btn-lg">
        <span class="bi bi-hdd-network green-color"></span> Khai Megawan
      </button>
    </div>
    <div class="col-lg-2 p-2">
      <button id="btn-csdl-dc" type="button" class="btn btn-outline-primary button btn-lg">
        <span class="bi bi-person-plus green-color"></span> Khai CSDL_DC
      </button>
    </div>

    <div class="col-lg-2 p-2">
      <button id="btn-showmac" type="button" class="btn btn-outline-primary button btn-lg" onclick="getDataShowMac()">
        <span class="bi bi-person-plus green-color"></span> Show mac
      </button>
    </div>
    <div class="col-lg-2 p-2">
      <button id="btn-showinfoOnu" type="button" class="btn btn-outline-primary button btn-lg" onclick="getDataShowInfoOnu()">
        <span class="bi bi-person-plus green-color"></span> Show đồng bộ
      </button>
    </div>
  </div>

  <div class="form-group p-2">
    <h4>Lệnh tương ứng</h4>
    <textarea class="form-control" id="outputCLI" rows="10">

    </textarea>
  </div>
</form>

<script>


     
    var timeoutID;
    var timeoutID2;
    function delayedAlert() {
        timeoutID = setInterval(showAlert, 500);
                              }
    function showAlert() {
        $("#outputCLI").html("Đang lấy dữ liệu.............");
      
                          }

    function delayedAlert2() {
          timeoutID2 = setInterval(showAlert2, 700);
          }
    function showAlert2() {
          $("#outputCLI").html("Đang lấy dữ liệu");
      
                }
  
      function clearAlert() {
        clearInterval(timeoutID);
        clearInterval(timeoutID2);
      }
  function getDataShowMac() {

    var ip = document.getElementById('idIPOLT').value;
    var chuoiid = document.getElementById('idPassword').value;

    var slid_ip = chuoiid + "_" + ip;
    if (chuoiid.length == 9 && ip.length == 11 ) {
       
      
      $.ajax({
        url: '/getmacOLT/' + slid_ip,
        type: 'GET',
        beforeSend: function(){
          delayedAlert();
          delayedAlert2();
        },
        complete: function() {
          clearAlert();
        },
        success: function (res) {
        
          $("#outputCLI").html(res);
         
        },
        
        error: function (err) {
           alert("Lỗi lấy dữ liệu")
        }
      });
    }
    else {
      alert('Nhập đầy đủ chuỗi SLID và IP')
    }
    
  }


function getDataShowInfoOnu() {

var ip = document.getElementById('idIPOLT').value;
var chuoiid = document.getElementById('idPassword').value;

var slid_ip = chuoiid + "_" + ip;
if (chuoiid.length == 9 && ip.length == 11 ) {
   
  
  $.ajax({
    url: '/getInfoOnuOLT/' + slid_ip,
    type: 'GET',
    beforeSend: function(){
      delayedAlert();
      delayedAlert2();
    },
    complete: function() {
      clearAlert();
    },
    success: function (res) {
    
      $("#outputCLI").html(res);
     
    },
    
    error: function (err) {
       alert("Lỗi lấy dữ liệu")
    }
  });
}
else {
  alert('Nhập đầy đủ chuỗi SLID và IP')
}

}

  function getInfoOLT(ip) {
 //   document.getElementById('txtvlan').value = ip;
  //  alert(ip.length)
  var chuoiid = document.getElementById('idPassword').value;
 //  alert(ip);
   var slid_ip = chuoiid + "_" + ip;
  if (chuoiid.length == 9 && ip.length ==11) {

    $.ajax({
        url: '/getVlanNet/' + slid_ip,
        type: 'GET',
        success: function (res) {
          $("#idvlanmytv").val(res.VlanVod);
          $("#idvlanGNMS").val(res.VlanGNMS);
          $("#idvlanNet").val(res.VlanNet);
          $("#outputCLI").html(res);
         
         
        
        },
        error: function (err) {
         
        }
      });

  }

   else  if (ip.length == 11) {
      $.ajax({
        url: '/getInfoOLT/' + ip,
        type: 'GET',
        success: function (res) {
          $("#idvlanmytv").val(res.VlanVod);
          $("#idvlanGNMS").val(res.VlanGNMS);
          //alert(res);
          $("#outputCLI").html(res);
         
        
        },
        
        error: function (err) {
          $("#idvlanmytv").val("loi");
        }
      });
    }
  }



  
  function getVlanNet(chuoiid) {
   var ip = document.getElementById('idIPOLT').value;
 //  alert(ip);
   var slid_ip = chuoiid + "_" + ip;
    if (chuoiid.length == 9 && ip.length ==11) {
      $.ajax({
        url: '/getVlanNet/' + slid_ip,
        type: 'GET',
        success: function (res) {
          $("#idvlanmytv").val(res.VlanVod);
          $("#idvlanGNMS").val(res.VlanGNMS);
          $("#idvlanNet").val(res.VlanNet);
         //alert(res.VlanNet);
         
        
        },
        error: function (err) {
         
        }
      });
    }
  }
</script>