<!-- 
<div class="terminal" style="height: 580px; padding-bottom: 10.4px; width: 524.4px;">
</div> -->
<div class="form-group p-2">
    <textarea class="form-control" id="outputCMD" rows="30">
    </textarea>
  </div>
<div class="form-group row">

    <div class="col-lg-6">
        <span  class="col-lg-1 col-form-label" style="min-width: 100px" ></span>
        <input name="comment" type="text" class="form-control" id="idComment" placeholder = "Type CLI in here">
    </div>

    <div class="col-lg-2">
        <button type="button" id="idcmd" class="btn btn-primary mb-2 invisible">Gửi lệnh</button>
    </div>
    <div class="col-lg-3">
        <span  class="col-lg-1 col-form-label" style="min-width: 100px" ></span>
        <input name="connect" type="text" class="form-control " id="idConnect" placeholder = "Type IP connect to the device">
    </div>

    <div class="col-lg-1">
        <button type="button" id="idsubmit" class="btn btn-primary mb-2 invisible">Kết nối</button>
    </div> <!-- đã ẩn nút kết nối -->
   
</div>

