<div class="terminal" style="height: 580px; padding-bottom: 10.4px; width: 524.4px;">
</div>
<form class="inline">
    <div class="row">
        <input id="CLI" type="text"class="form-control bi bi-arrow-bar-right">
    </div>
</form>
